# =========================
# SECRETS
# =========================
.env
.env.*
!.env.example
*serviceAccount*.json
*firebase*.json
*credentials*.json

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# =========================
# VIRTUAL ENVIRONMENTS
# =========================
venv/
.venv/
env/

# =========================
# DJANGO
# =========================
*.log
db.sqlite3
db.sqlite3-journal
local_settings.py
media/
staticfiles/

# =========================
# IDE / OS
# =========================
.vscode/*
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
